
<html>
  <head>
    <meta charset="utf-8">
    <title>Guy Monitoring System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  

    <style>
      table, th, td {
	  border: 1px solid black;
	  border-collapse: collapse;
      }
      body {
          font-family: Arial;
      }
      .center { margin: 0 auto; width: 100%; }
    </style>
    
  </head>
  <body>
    <a href="/">Back to Main Page</a><br>

				   
    {% load static %}
   
    <video class="center" src="{% static latest_videoFile %}" height="90%" autoplay type="video/mp4"  playsinline muted controls="false">
	Your browser does not support HTML video.
    </video>
  </body>
</html>
